<div class="jumbotron">
    <h1>Magazine</h1>
    <p class="lead">This version of the application uses the ASP.NET WEB API and AngularJS to work with the API server.</p>
    <p><a href="@Url.Action("Magazine", "Home")" class="btn btn-primary btn-lg">Let's start &raquo;</a></p>
</div>
<div class="row">

</div>
