
@{
    ViewBag.Title = "Magazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <table class="table table-bordered">
                <tr>
                    <th class="warning">Name</th>
                    <th class="warning">Address</th>
                    <th class="warning">Work time</th>
                    <th class="warning">Details</th>
                </tr>
                <tr ng-repeat="store in stores">
                    <td>
                        <strong> {{store.Name}} </strong>
                    </td>
                    <td class="info"> {{store.Address}} </td>
                    <td> {{store.StartWorkTime}} - {{store.EndWorkTime}} </td>
                    <td>
                        <button ng-click="items(store.Id)" ng-model="IsItemsList" class="btn btn-info btn-sm"> Items </button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-xs-2">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-sm"> Back to home </a>
                </div>
            </div>
        </div>

        <div>
            <div class="col-xs-4" ng-show="IsItemsList">
                <h1 class="page-header">
                    Items
                </h1>
                <table class="table table-bordered items">
                    <tr>
                        <th class="warning">Name</th>
                        <th class="warning">Description</th>
                    </tr>
                    <tr ng-repeat="it in item">
                        <td> {{it.Name}} </td>
                        <td class="info"> {{it.Description}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
