@model IEnumerable<Magazine.Models.StoreViewModel>

@{
    ViewBag.Title = "Magazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @foreach (var item in Model)
    {
        <p>@item.Address</p>
        <p>@item.StartWorkTime - @item.EndWorkTime</p>
        <p>@item.Name</p>
        <hr />
    }
</div>

