<div class="jumbotron">
    <h1>Magazine</h1>
    <p class="lead">This version of the application uses the classic ASP.NET MVC 5 and AJAX calls to load data.</p>
    <p><a href="@Url.Action("Index", "Magazine")" class="btn btn-primary btn-lg">Let's start &raquo;</a></p>
</div>